<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user_post.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @user_post.body %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @user_post.update_at %>
</p>

<%= link_to 'Edit', edit_user_post_path(@user_post) %> |
<%= link_to 'Back', user_posts_path %>
