= form_with(model: scout, local: true) do |form|
  - if scout.errors.any?
    #error_explanation
      %h2
        = pluralize(scout.errors.count, "error")
        prohibited this scout from being saved:
      %ul
        - scout.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :id
    = form.number_field :id
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :body
    = form.text_field :body
  .field
    = form.label :update_at
    = form.time_select :update_at
  .actions
    = form.submit
