!!!5
%html(lang="ja")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    %title
      = t('title_with_furigana')
    %body
    .container
      %header
      %nav.navbar.navbar-expand.navbar-dark.bg-dark.fixed-top
        = link_to('CYCLEMANIA', root_path)
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to('HOME', root_path)
          %li.nav-item
            = link_to('MEMBER', posts_path)
          %li.nav-item
            = link_to('CONTACT', new_contact_path)
          %li.nav-item
            = link_to('ABOUT', about_path)
    .contents
      = yield
      %footer.fixed-bottom
        %small.copyright
        Copyright &copy;
        = succeed "." do
          %span 2019
        cyclemania
