!!!5
%html(lang="ja")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    %title
      = t('title_with_furigana')
    %body
      %header
      = t('title')
      %ul
        %li= link_to('HOME', root_path)
        %li= link_to('NEWS', posts_path)
        %li= link_to('CONTACT', new_contact_path)
        %li= link_to('ABOUT')

      = yield
      %footer
        %small.copyright
        Copyright &copy;
        = succeed "." do
          %span 2019
        cyclemania
